[submodule "sds011-driver"]
	path = sds011-driver
	url = https://github.com/SIGSEGV111/sds011-driver.git
[submodule "vz89te-driver"]
	path = vz89te-driver
	url = https://github.com/SIGSEGV111/vz89te-driver.git
[submodule "postgres-feeder"]
	path = postgres-feeder
	url = https://github.com/SIGSEGV111/postgres-feeder.git
[submodule "opt3001-driver"]
	path = opt3001-driver
	url = https://github.com/SIGSEGV111/opt3001-driver.git
[submodule "bme280-driver"]
	path = bme280-driver
	url = https://github.com/SIGSEGV111/bme280-driver.git
[submodule "dht22-spi-driver"]
	path = dht22-spi-driver
	url = https://github.com/SIGSEGV111/dht22-spi-driver.git
[submodule "mlx90614-driver"]
	path = mlx90614-driver
	url = https://github.com/SIGSEGV111/mlx90614-driver.git
[submodule "ds1820-sysfs-poller"]
	path = ds1820-sysfs-poller
	url = https://github.com/SIGSEGV111/ds1820-sysfs-poller.git
